# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np

file1 =pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
file2 =pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
file3 =pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [2]:
#file3['Customer Lifetime Value'].unique()

In [3]:
# I decided to check out the dataframe and clean the columns for each file before concatinating them.

file1.info()

column_names=file1.columns
cols = []
for colname in file1.columns:
    cols.append(colname.lower())

file1.columns = cols

file1 = file1.rename(columns={'st':'state', 
                              'customer lifetime value': 'customer_lifetime_value', 
                              'monthly premium auto': 'monthly_premium_auto', 
                              'number of open complaints': 'number_of_open_complaints',
                               'policy type': 'policy_type', 
                              'vehicle class': 'vehicle_class', 
                              'total claim amount': 'total_claim_amount'
                             })

# Deleting the '%' character from the values of Customer Lifetime Value
file1['customer_lifetime_value'] = file1['customer_lifetime_value'].str.replace('%', '').astype(float)
file1['customer_lifetime_value'].unique()

# Splitting the 'number_of_open_complaints' using '/' as the delimiter
file1['number_of_open_complaints'] = file1['number_of_open_complaints'].str.split('/').str[1]
file1['number_of_open_complaints'] =(file1['number_of_open_complaints']).apply (pd.to_numeric)

display(file1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [4]:
# column cleaning for file2

file2.info()

column_names=file2.columns
cols = []
for colname in file2.columns:
    cols.append(colname.lower())

file2.columns = cols


file2 = file2.rename(columns={'st':'state', 
                              'customer lifetime value': 'customer_lifetime_value', 
                              'monthly premium auto': 'monthly_premium_auto', 
                              'number of open complaints': 'number_of_open_complaints',
                               'policy type': 'policy_type', 
                              'vehicle class': 'vehicle_class', 
                              'total claim amount': 'total_claim_amount'
                             })

# Deleting the '%' character from the values of Customer Lifetime Value
file2['customer_lifetime_value'] = file2['customer_lifetime_value'].str.replace('%', '').astype(float)
file2['customer_lifetime_value'].unique()


# Splitting the 'number_of_open_complaints' using '/' as the delimiter
file2['number_of_open_complaints'] = file2['number_of_open_complaints'].str.split('/').str[1]
file2['number_of_open_complaints'] =(file2['number_of_open_complaints']).apply (pd.to_numeric)

display(file2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47,16061,88,0,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487,114,0,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230,112,0,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210,214,1,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21,94903,94,0,451.2,Corporate Auto,Two-Door Car

In [5]:
#Column cleaning for file3

file3.info()

column_names=file3.columns
cols = []
for colname in file3.columns:
    cols.append(colname.lower())

file3.columns = cols

file3 = file3.rename(columns={ 
                              'customer lifetime value': 'customer_lifetime_value', 
                              'monthly premium auto': 'monthly_premium_auto', 
                              'number of open complaints': 'number_of_open_complaints',
                               'policy type': 'policy_type', 
                              'vehicle class': 'vehicle_class', 
                              'total claim amount': 'total_claim_amount'
                             })

display(file3.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [6]:
data = pd.concat([file1, file2, file3], axis=0, ignore_index=True)
data.shape
#data.info()

(12074, 11)

In [7]:
# cleaning out invalid values of some selected columns
data['gender'].replace({'Femal':'F', 'female':'F', 'Male':'M'}, inplace=True)
data['gender'].unique()


# Replacing state abbreviations with their full names.
data['state'].replace({'AZ':'Arizona', 'Cali': 'California', 'WA': 'Washington' }, inplace=True)
data['state'].unique()


#Replacing Bachelors with bachelor
data['education'].replace('Bachelors', 'Bachelor', inplace=True)
data['education'].unique()


# Correcting wrong values in the vehicle_class category
data['vehicle_class'].replace({'Sports Car':'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury' }, inplace=True)
data['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [8]:
# checking for non-nulls
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   float64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(5), object(6)
memory usage: 1.0+ MB
None

In [9]:
# Here, i would like to deal with the missing values
#data.isna().sum()

# Instead of dropping rows or coloumns with missing values, i would like to fill in the mean of values and mode of classes for numerical and categorical variables respectively. This strategy was chosen so as to to drop the large volume of observations because of missing values.
#FOR NUMERICAL COLUMNS
mean_customer_lifetime_value = data['customer_lifetime_value'].mean()
data['customer_lifetime_value'] = data['customer_lifetime_value'].fillna(mean_customer_lifetime_value)

mean_income = data['income'].mean()
data['income'] = data['income'].fillna(mean_income)

mean_monthly_premium_auto = data['monthly_premium_auto'].mean()
data['monthly_premium_auto'] = data['monthly_premium_auto'].fillna(mean_monthly_premium_auto)
                    
mean_number_of_open_complaints = data['number_of_open_complaints'].mean()
data['number_of_open_complaints'] = data['number_of_open_complaints'].fillna(mean_number_of_open_complaints)

mean_total_claim_amount = data['total_claim_amount'].mean()
data['total_claim_amount'] = data['total_claim_amount'].fillna(mean_total_claim_amount)


#FOR CATEGORICAL VARIABLES
mode_state = data['state'].mode()
data['state'] = data['state'].fillna(mode_state)[0]

mode_gender = data['gender'].mode()
data['gender'] = data['gender'].fillna(mode_gender)[0]

mode_education = data['education'].mode()
data['education'] = data['education'].fillna(mode_education)[0]

mode_policy_type = data['policy_type'].mode()
data['policy_type'] = data['policy_type'].fillna(mode_policy_type)[0]

mode_vehicle_class = data['vehicle_class'].mode()
data['vehicle_class'] = data['vehicle_class'].fillna(mode_vehicle_class)[0]

data.isna().sum()

customer                     2937
state                           0
gender                          0
education                       0
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [10]:
# Dropping all duplicates that might be in the dataframe
data = data.drop_duplicates()
data.isna().sum()

customer                     1
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9135 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9134 non-null   object
 1   state                      9135 non-null   object
 2   gender                     9135 non-null   object
 3   education                  9135 non-null   object
 4   customer_lifetime_value    9135 non-null   float64
 5   income                     9135 non-null   float64
 6   monthly_premium_auto       9135 non-null   float64
 7   number_of_open_complaints  9135 non-null   float64
 8   policy_type                9135 non-null   object
 9   vehicle_class              9135 non-null   object
 10  total_claim_amount         9135 non-null   float64
dtypes: float64(5), object(6)
memory usage: 856.4+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [12]:
marketing_data= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
marketing_data.info()
display(marketing_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [13]:
#checking for missing values
marketing_data.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [14]:
# dropping the column "unnamed
marketing_data = marketing_data.drop('unnamed:_0', axis=1)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [17]:
summary_table = pd.pivot_table(marketing_data, values='customer_lifetime_value', index='sales_channel', aggfunc='sum')

summary_table['customer_lifetime_value'] = summary_table['customer_lifetime_value'].round(2)

print(summary_table)

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

In [18]:
# The summary_table above shows the returns that comapy has realized through different sales channel. Insurance sales through agents have brought in more customers than other sales channels. To realize more total revenue, recruiting more agents would be a good decision.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [19]:
pivot = pd.pivot_table(marketing_data, values='customer_lifetime_value', index=['gender', 'education'], aggfunc='mean')

print(pivot)

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

In [20]:
# Theoretically, it would have been expected that the insurance company would generate more revenue from customers with higher educational leve. However, our pivot table shows otherwise. For the female gender, customers with High school or below educational level yield more revenue that other customers with higher educational levels. This is also same for the male gender.one can also deduce that the more educated customers are, the more skeptical they are about buying insurance policies.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [21]:
# Here, I want to group by 'month' and 'policy_type' in order to calculate the number of complaints
groupby = marketing_data.groupby(['month', 'policy_type']).sum().reset_index()

# Creating a pivot table to show the number of open complaints by policy type and month
pivot_table = pd.pivot_table(groupby, values='number_of_open_complaints', index='month', columns='policy_type', fill_value=0)

# Converting the pivot table to a long format
long_format_table = pivot_table.reset_index().melt(id_vars='month', var_name='policy_type', value_name='number_of_open_complaints')


print(long_format_table)

   month     policy_type  number_of_open_complaints
0      1  Corporate Auto                 443.434952
1      2  Corporate Auto                 385.208135
2      1   Personal Auto                1727.605722
3      2   Personal Auto                1453.684441
4      1    Special Auto                  87.074049
5      2    Special Auto                  95.226817